# Python library for array computing
numpy==2.3.5

# Python library for time series and statistics
pandas==2.3.3

# Python library for Apache Arrow
pyarrow==22.0.0

# Python ultilities for world timezone
pytz==2025.2

# Python ultilities for HTTP Humans requests
requests==2.32.5

# Google library for authentication
google-auth==2.45.0

# Google module for API client core
google-api-core==2.28.1

# Google module for GCP BigQuery
google-cloud-bigquery==3.39.0

# Google module for GCP Secret Manager
google-cloud-secret-manager==2.26.0

# Google module for GCP BigQuery Storage
google-cloud-bigquery-storage==2.35.0

# Google module for GCP BigQuery Native Pandas Connector
pandas-gbq==0.32.0

# Last updated: 2025-12-18